/* showVideos.css */

.show-videos {
    padding: 20px;
  }
  
  .video-list {
    list-style: none;
    padding: 0;
  }
  
  .video-item {
    background-color: #f9f9f9;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 15px;
  }
  
  .video-item h3 {
    margin-top: 0;
  }
  
  .video-item p {
    margin: 5px 0;
  }
  
  .video-item a {
    color: #007bff;
    text-decoration: none;
  }
  
  .video-item a:hover {
    text-decoration: underline;
  }
/* videolist.css */
.delete-button {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
  }
  
  .delete-button:hover {
    background-color: darkred;
  }
  